html, body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-image: url("./assets/background.jpg");
    background-size: 100% 50%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
}


header {
    text-align: center;
    margin: 0;
    background-color: #094b43;
}

.additional-navbar {
    background-color: black;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 

}

.additional-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.additional-navbar li {
    display: inline;
    margin-right: 20px;
    color: white;
}


.additional-navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff; 
}

nav li {
    display: inline;
    margin-right: 20px;
}


.logo-container a {
    text-decoration: none;
    color: #fff;
    font-size: 24px; 
    font-weight: bold; 
    margin-left: 50%;
}


.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    margin-left: 20px; 
    margin-right: 20px; 
}



.signup-button-container {
    padding: 0;
    margin-left: 20px;
}



.signup-button {
    background-color: transparent; 
    color: #fff; 
    text-decoration: none;
    padding: 10px 20px;
    border: .5px solid #fff; 
    border-radius: 20px;  
}

.signup-button:hover {
    background-color: #ffffff; 
}



hr {
    color: #ffffff;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Gloock', serif;
    color: #000000;
    
}
h1 {
    margin: 50px 50px 80px 50px;
    color: #ffffff;
    font-size: 4em;
    font-family: 'Gloock', serif;
    background-color: #094b43;
}


.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-column {
    flex: 1;
    padding: 10px;
    width: 48%;
}

label,select,
input[type="text"], 
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}


.column-container {
    margin-top: 20px;
    text-align: center;
}

.column-container h2 {
    font-size: 24px;
}


.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 20px auto;
}

.article, .article2 {
    display: flex;
    align-items: center;
    flex-basis: calc(50% - 20px);
    margin: 3px;
    padding: 20px 20px;
    box-sizing: border-box;
    background-color: #ffffff; 
}

.article-image, .article-image2 {
    flex: 0 0 40%;
    margin-right: 10px;
    margin-left: 10px; 
}

.article-image img, .article-image2 img {
    max-width: 100%;
    height: auto;
}

.article-text, .article-text2 {
    flex: 1;
}

.article-link {
    color: rgb(90, 83, 219); 
    text-decoration: none; 
    display: inline-flex;
    align-items: center;
}


.arrow {
    margin-left: 5px;
    font-size: 18px; 
}

section {
    font-weight: lighter;
    color: #2c2828; 
    padding: 50px;
}

.section2 {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
}

.sech2 .article{
    background-color:transparent;
}


.section2 .sech2 {
    text-align: left;
}

.section2 .span-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap; 
}

.section2 .span-box {
    max-width: 200px; 
    padding: 10px; 
    text-align: center; 
}

.section2 .span-box img {
    max-width: 100%;
}

.section2 .span-box h3 {
    font-size: 16px; 
    margin: 10px 0; 
}

.section2 .span-box p {
    font-size: 14px; 
    margin: 10px 0; 
}

.endBanner  {
    background-color: antiquewhite;
    margin-bottom: 0;
}


footer {
    margin-top: 0;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
